<div class="container">
  <img
    src="https://images.squarespace-cdn.com/content/v1/57239a2801dbaedc4e8a8405/1555343231099-HLVJWI8FIQHGXBIEKDT8/Franchising.png?format=750w"
    alt=""
  />
  <h3 class="name">INTERESTED IN AN INCREDIBLE FRANCHISE OPPORTUNITY?</h3>
  <div class="info">
    <p>
      The first Sweet Jesus opened in 2015 in the heart of the Entertainment
      District in downtown Toronto.
    </p>
    <p>
      Since its inception, our award-winning brand has become one of the
      industry's fastest growing franchise concepts. Today, we have grown the
      brand throughout Canada; as well as overseas under the brand name "Sweet
      Salvation".
    </p>
  </div>
  <div class="block-1">
    <h3>UNCOMPROMISED COMMITMENT TO TASTE AND QUALITY.</h3>
    <p>
      Sweet Jesus is the market leader in the specialty ice cream category and
      is an innovative franchise concept that feaetures handcrafted, chef
      inspired pimped out soft serve ice cream. Our ice cream treats combine
      artisanal flavours and ingredients curated by our Research & Development
      team and are social media worthy.
    </p>
  </div>
  <div class="block-1">
    <h3>MASSIVE ONLINE PRESENCE.</h3>
    <p>
      Delighting guests with elaborate soft serve concations, we have developed
      a massive and loyal fan base. Sweet Jesus has become enormously popular as
      the No.1 most instagrammed food item in all of Canada with over 115,000
      instagram followers.
    </p>
  </div>
  <div class="block-1">
    <h3>COMMITMENT TO SUPPORT YOUR SUCCESS.</h3>
    <p>
      Being a part of a highly developed, sophisticated franchise system, Sweet
      Jesus franchisees benefit immensely from the comprehensive support
      services in the areas of marketing, menu innovation, operations,
      purchasing, franchising, real estate and construction. <br />
      <br />
      In 2019, Sweet Jesus won the coveted Award of Excellence and Franchisee
      Choice Designation Awards. These awards are presented annually by the
      Canadian Franchise Association and is awarded to CFA member franchise
      systems that have demonstrated the strongest relationships with their
      franchisees and are the highest achievements within the franchise
      industry.
    </p>
  </div>
  <div class="block-1 mb">
    <h3>MULTIPLE STORE FORMATS.</h3>
    <p>
      Sweet Jesus seeks high profile retail locations with strong day time,
      night time and weekend foot traffic.
    </p>
    <p>
      Super Regional Enclosed Mall Format: <br />
      200 sqft Kiosk unit, plus storage <br />
      300 — 600 sqft In Line unit
    </p>
    <p>
      High Street Format: <br />
      600 — 1,200 sqft Storefront unit
    </p>
  </div>
</div>
