<div class="nav-bar">
  <nav>
    <ul class="nav-list">
      <li class="nav-list-item"><a routerLink="/Menu">Menu</a></li>
      <li class="nav-list-item"><a routerLink="/Location">Location</a></li>
      <li class="nav-list-item">
        <a href="https://order.online/business/sweet-jesus-214739/"
          >Order Online</a
        >
      </li>
      <li class="nav-list-item">
        <img
          routerLink="/Menu"
          class="nav-bar-img"
          src="https://images.squarespace-cdn.com/content/v1/57239a2801dbaedc4e8a8405/1473267387896-XIE4DOJRZ1VDJQ9VAA94/logo.png?format=1500w"
          alt=""
        />
      </li>
      <li class="nav-list-item"><a routerLink="/Catering">Catering</a></li>
      <li class="nav-list-item"><a routerLink="/Social">Social</a></li>
      <li class="nav-list-item">
        <a routerLink="/Franchising">Franchising</a>
      </li>
    </ul>
  </nav>
</div>
