<div class="places-container">
  <div class="st">
    <h3 class="name">JOHN STREET - DOWNTOWN TORONTO</h3>
    <h3 class="adress">
      <a
        href="https://www.google.ru/maps/place/106+John+St,+Toronto,+ON+M5H+1X9,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@43.6471887,-79.3923816,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34d0f34be989:0xc1b585f2733aa684!8m2!3d43.6471848!4d-79.3901929"
        >106 JOHN ST, TORONTO, ON M5H 1X9</a
      >
    </h3>
    <h3 class="number">416-576-2959</h3>
  </div>
  <div class="st">
    <h3 class="name">EATON CENTRE - DOWNTOWN TORONTO</h3>
    <h3 class="adress">
      <a
        href="https://www.google.ru/maps/place/220+Yonge+St,+Toronto,+ON+M5B+2H1,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@43.6537205,-79.3825267,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34cac0d3ebbb:0x97da9c0824fa342c!8m2!3d43.6537166!4d-79.380338"
        >220 YONGE ST, TORONTO, ON M5B 2H1</a
      >
    </h3>
    <h3 class="number">416-576-2959</h3>
  </div>
  <div class="st">
    <h3 class="name">SHERWAY GARDENS MALL - ETOBICOKE</h3>
    <h3 class="adress">
      <a
        href="https://www.google.ru/maps/place/25+The+West+Mall,+Etobicoke,+ON+M9C+1B8,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@43.6116972,-79.5593717,17z/data=!3m1!4b1!4m5!3m4!1s0x882b4806ded105e3:0x189bed3b82b56518!8m2!3d43.6116933!4d-79.557183"
        >25 THE WEST MALL, ETOBICOKE, ON</a
      >
    </h3>
    <h3 class="number">647-348-3800</h3>
  </div>
  <div class="st">
    <h3 class="name">SQUARE ONE - MISSISSAUGA</h3>
    <h3 class="adress">
      <a
        href="https://www.google.ru/maps/place/100+City+Centre+Dr,+Mississauga,+ON+L5B+2C9,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@43.5930823,-79.6446798,17z/data=!3m1!4b1!4m5!3m4!1s0x882b472ecbf930ef:0xd8fb6ae7a3676140!8m2!3d43.5930784!4d-79.6424911"
        >100 CITY CENTRE DR, MISSISSAUGA, ON L5B 2C9</a
      >
    </h3>
    <h3 class="number">905-766-1947</h3>
  </div>
  <div class="st">
    <h3 class="name">LIMERIDGE -HAMILTON</h3>
    <h3 class="adress">
      <a
        href="https://www.google.ru/maps/place/999+Upper+Wentworth+St,+Hamilton,+ON+L9A+4X5,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@43.2176278,-79.863722,17z/data=!3m1!4b1!4m5!3m4!1s0x882c9a4fbca8ac47:0xaa2a2e5a379de7d!8m2!3d43.2176239!4d-79.8615333"
        >999 UPPER WENTWORTH ST, HAMILTON, ON L9A 4X5</a
      >
    </h3>
    <h3 class="number">289-674-8800</h3>
  </div>
  <div class="st">
    <h3 class="name">SHERATON HOTEL - NIAGARA FALLS</h3>
    <h3 class="adress">
      <a
        href="https://www.google.ru/maps/place/5875+Falls+Ave,+Niagara+Falls,+ON+L2G+3K7,+%D0%9A%D0%B0%D0%BD%D0%B0%D0%B4%D0%B0/@43.0911909,-79.0749032,17z/data=!3m1!4b1!4m5!3m4!1s0x89d34319779d4795:0x39f2a576006a3218!8m2!3d43.091187!4d-79.0727145"
      >
        5875 FALLS AVE, NIAGARA FALLS, ON L2G 3K7</a
      >
    </h3>
    <h3 class="number">905-374-4445</h3>
  </div>
</div>
